@media only screen and (min-width: 991px) {
  body {
    background-color: white;
    color: black; }
  .container {
    margin: 0 1rem 0 1rem; }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    padding: 20px 20px 0 20px; }
    .header strong {
      opacity: 0.4;
      font-family: sans-serif; }
  .main-image-section {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/interaction.webp");
    margin-top: -50px; }
    .main-image-section__title {
      color: white;
      font-family: sans-serif;
      font-size: 5rem;
      padding: 7rem 0 0 5rem; }
      .main-image-section__title--title1 {
        text-align: center;
        font-size: 6rem; }
    .main-image-section p {
      color: white;
      font-family: Ideal Sans Extra Light;
      font-size: 2.3rem;
      line-height: 1.2;
      padding-left: 5rem;
      opacity: 0.8;
      margin-top: -50px; }
    .main-image-section__view-cases {
      width: 250px;
      height: 40px;
      background-color: #5bd9b3;
      color: white;
      padding: 20px 5px 0 5px;
      margin: 0 0 0 5rem;
      text-align: center;
      font-family: sans-serif; }
      .main-image-section__view-cases--our-approach {
        margin: -5rem 0 0 30rem; }
    .main-image-section .animated {
      position: relative;
      left: 40rem;
      top: -30rem;
      width: calc(100% - 43rem);
      height: 30rem;
      background-color: #e4dede;
      opacity: 0.2; }
  .main-block {
    height: 25rem; }
    .main-block .introduction1 {
      margin: -2rem 0 0 2rem;
      padding: 4rem 0 3.6rem 5rem;
      width: 50%;
      background: whitesmoke; }
      .main-block .introduction1 span {
        font-size: 6em;
        font-weight: 700;
        line-height: .95;
        color: #3e3c36;
        font-family: sans-serif;
        letter-spacing: -4px; }
      .main-block .introduction1 small {
        font-weight: 700;
        font-size: 1em;
        display: block;
        line-height: 1.3;
        color: #b5b5b5;
        font-family: sans-serif; }
    .main-block .introduction2 {
      width: 40%;
      position: relative;
      left: 40rem;
      top: -20rem;
      padding: 5em 3em 5em 3em;
      background-color: #3e3c36;
      color: #b5b5b5; }
      .main-block .introduction2 h2 {
        font-size: 1.5em;
        font-family: sans-serif;
        letter-spacing: -1px; }
      .main-block .introduction2 p {
        font-size: 1.2rem;
        line-height: 1.6; }
      .main-block .introduction2 .arrow {
        display: inline-block;
        position: relative;
        line-height: 1;
        color: #5bd9b3;
        font-family: sans-serif;
        font-weight: 700; }
  .main-text-block {
    display: block; }
    .main-text-block__heading {
      display: block;
      text-align: center; }
    .main-text-block__happy {
      display: inline-block;
      font-size: 3rem;
      font-family: sans-serif;
      font-weight: 700;
      color: #b5b5b5; }
    .main-text-block__happy--people {
      color: #5bd9b3;
      margin-left: 5px; }
    .main-text-block p {
      display: block;
      text-align: center;
      padding: 0 15rem 2rem 15rem;
      font-size: 2rem;
      line-height: 1.3;
      font-weight: 400;
      font-family: sans-serif;
      color: #b5b5b5; }
  .main-vertical-boxes {
    display: block;
    text-align: left; }
    .main-vertical-boxes__box1 {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("../img/rodesk-culture.jpg");
      width: 32.1%;
      height: 35rem;
      color: white;
      font-family: sans-serif;
      font-weight: 700; }
      .main-vertical-boxes__box1 h2 {
        font-size: 2rem;
        padding: 5rem 0 0 2rem; }
      .main-vertical-boxes__box1 span {
        position: relative;
        top: 20rem;
        left: 4rem; }
    .main-vertical-boxes__box1--box2 {
      margin-left: 1rem;
      background-image: url("../img/our-approach.jpg"); }
    .main-vertical-boxes__box1--box3 {
      margin-left: 1rem;
      background-image: url("../img/recent-cases.jpg"); }
  .main-horizontal-boxes {
    display: block;
    text-align: left; }
    .main-horizontal-boxes__box1 {
      display: inline-block;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("../img/best-camp.jpg");
      width: 48%;
      height: 25rem;
      color: white;
      margin-top: 3rem;
      font-family: sans-serif;
      font-weight: 700;
      transition: transform .1s; }
      .main-horizontal-boxes__box1 h2 {
        font-size: 2rem;
        padding: 0 5rem 0 5rem; }
    .main-horizontal-boxes__box1:hover {
      transform: scale(1.02); }
    .main-horizontal-boxes__tag {
      padding: 5rem 0 0 5rem; }
    .main-horizontal-boxes__box1--box2 {
      background-image: url("../img/bloc.jpg");
      margin-left: 2rem; }
  .main-list {
    display: block;
    border-top: 2px solid #e7e6e6;
    border-bottom: 2px solid #e7e6e6;
    margin-top: 4rem;
    transition: background-color; }
    .main-list__content {
      display: inline-block;
      color: #8d8a8a;
      padding-right: 10rem; }
  .main-list:hover {
    background-color: #e7e6e6; }
  .main-curious-people {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("../img/the-future.webp");
    height: 60rem; }
    .main-curious-people__inline-block {
      display: block;
      background: whitesmoke;
      width: 95%;
      height: 25rem;
      margin: 5rem 0 0 2rem; }
    .main-curious-people__jeanet-block {
      display: inline-block;
      font-family: sans-serif;
      font-weight: bold;
      width: 40%;
      height: 20rem;
      margin: 5rem 0 0 5rem; }
      .main-curious-people__jeanet-block img {
        border: 2px solid white;
        border-radius: 50%; }
      .main-curious-people__jeanet-block p {
        font-family: extra-light sans-serif;
        color: #444343; }
      .main-curious-people__jeanet-block strong {
        color: #5bd9b3; }
    .main-curious-people__jeanet-block--second-block {
      margin-top: -5rem;
      text-align: center;
      font-size: 2rem;
      font-family: sans-serif; }
      .main-curious-people__jeanet-block--second-block p {
        color: #8d8a8a; } }
