@import './config';
@import './mixin';
$break-large: 991px;
$break-small: 565px;


@media only screen and (min-width: $break-large){
    body {
        background-color: $primary-color;
        color: $secondary-color;    
    }
    .container {
        margin: 0 1rem 0 1rem;
    }
    .header {
        @include row-flex(flex,row,space-between);
        height: 20px;
        padding: 20px 20px 0 20px;
         strong{
            opacity: 0.4;
            font-family: $font-stack;
        };  
    };
    .main {
        &-image-section {
            height: 100vh;
            @include background {
                background-image: url("../img/interaction.webp");
                margin-top: -50px;    
            };
           &__title {
                color: $primary-color;
                font-family: $font-stack;
                font-size: 5rem;
                padding: 7rem 0 0 5rem;
                &--title1 {
                    text-align: center;
                    font-size: 6rem;
                }
            };
            p {
                color: $primary-color;
                font-family: Ideal Sans Extra Light;
                font-size: 2.3rem;
                line-height: 1.2;
                padding-left: 5rem;
                opacity: 0.8;
                margin-top: -50px;
            };
            &__view-cases {
                @include button(250px,40px,$sky-color,$primary-color);
                padding: 20px 5px 0 5px;
                margin: 0 0 0 5rem;
                text-align: center;
                font-family: $font-stack;
                &--our-approach {
                    margin: -5rem 0 0 30rem;   
                }  
            };
            .animated  {
                position: relative;
                left: 40rem;
                top: -30rem;
                width: calc(100% - 43rem);
                // width: 38.5rem;
                height: 30rem;
                background-color: rgb(228, 222, 222);
                opacity: 0.2;
            };    
        }
        &-block {
            height: 25rem;
            .introduction1 {
                margin: -2rem 0 0 2rem;
                padding: 4rem 0 3.6rem 5rem;
                width: 50%;
                background: whitesmoke;
                span {
                    font-size: 6em;
                    font-weight: map-get($font-weights,"bold");
                    line-height: .95;
                    color: #3e3c36;
                    font-family: $font-stack;
                    letter-spacing: -4px;
                };
                small {
                    font-weight: map-get($font-weights,"bold");
                    font-size: 1em;
                    display: block;
                    line-height: 1.3;
                    color: #b5b5b5;
                    font-family:$font-stack;
                }
            };
            .introduction2 {
                width: 40%;
                position: relative;
                left: 40rem;
                top: -20rem;
                padding: 5em 3em 5em 3em;
                background-color: #3e3c36;
                color:#b5b5b5;
                h2 {
                    font-size: 1.5em;
                    font-family: $font-stack;
                    letter-spacing: -1px;
                };
                p{
                    font-size: 1.2rem;
                    line-height: 1.6;
                };
                .arrow {
                    display: inline-block;
                    position: relative;
                    line-height: 1;
                    color:#5bd9b3;
                    font-family: $font-stack;
                    font-weight: map-get($font-weights,"bold");
                };
            }
        };
        &-text-block {
            display: block;
            &__heading {
                display: block;
                text-align: center;
            };
            &__happy {
                display: inline-block;
                font-size: 3rem;
                font-family: $font-stack;
                font-weight: map-get($font-weights,"bold");
                color: #b5b5b5;
            }
            &__happy--people {
                color:$sky-color;
                margin-left: 5px;
            };
            p {
                display: block;
                text-align: center;
                padding: 0 15rem 2rem 15rem;
                font-size: 2rem;
                line-height: 1.3;
                font-weight: map-get($font-weights,"regular");
                font-family: $font-stack;
                color: #b5b5b5;
            }
        };
        &-vertical-boxes {
            display: block;
            text-align: left;
            &__box1 {
                display: inline-block;
                @include background {
                    background-image: url("../img/rodesk-culture.jpg");
                };
                width: 32.1%;
                height: 35rem;
                color: white;
                font-family: $font-stack;
                font-weight: map-get($font-weights,"bold");
                h2 {
                   font-size: 2rem;
                   padding: 5rem 0 0 2rem;
                };
                span {
                    position: relative;
                    top: 20rem;
                    left: 4rem;
                }
            };
            &__box1--box2 {
                margin-left: 1rem;
                background-image: url("../img/our-approach.jpg");
            };
            &__box1--box3 {
                margin-left: 1rem;
                background-image: url("../img/recent-cases.jpg");
            }
        };
        &-horizontal-boxes {
            display: block;
            text-align: left;
            &__box1 {
                display: inline-block;
                @include background{
                    background-image: url("../img/best-camp.jpg");
                };
                width: 48%;
                height: 25rem;
                color: white;
                margin-top: 3rem;
                font-family: $font-stack;
                font-weight: map-get($font-weights,"bold");
                transition: transform .1s;
                h2 {
                    font-size: 2rem;
                    padding: 0 5rem 0 5rem;
                };
            };
            &__box1:hover {
                transform: scale(1.02);
            }
            &__tag {
                padding: 5rem 0 0 5rem;
            };
            &__box1--box2 {
                background-image: url("../img/bloc.jpg");
                margin-left: 2rem;
            }
        };
        &-list {
            display: block;
            border-top: 2px solid #e7e6e6;
            border-bottom: 2px solid #e7e6e6;
            margin-top: 4rem;
            transition: background-color;
            &__content {
                display: inline-block;
                color: $grey-color;
                padding-right: 10rem;
            }
        };
        &-list:hover {
            background-color: #e7e6e6;
        };
        &-curious-people {
            @include background{
                background-image: url('../img/the-future.webp');
            };
            height:60rem;
            &__inline-block {
                display: block;
                background: whitesmoke;
                width: 95%;
                height: 25rem;
                margin: 5rem 0 0 2rem;
            };
            &__jeanet-block{
                display: inline-block;
                font-family: $font-stack;
                font-weight: bold;
                width: 40%;
                height: 20rem;
                margin: 5rem 0 0 5rem;
                img {
                    border: 2px solid white;
                    border-radius: 50%;
                };
                p{
                    font-family: extra-light sans-serif;
                    color: rgb(68, 67, 67);
                };
                strong{
                    color: $sky-color;
                }
            };
            &__jeanet-block--second-block {
                margin-top: -5rem;
                text-align: center;
                font-size: 2rem;
                font-family: $font-stack;
                p{
                    color: #8d8a8a;
                }
            }    
        }
    }
}

