@mixin row-flex($name,$direction,$content) {
    display: $name;
    flex-direction: $direction;
    justify-content: $content;
}
@mixin button($width,$height,$bgc,$color){
    width: $width;
    height:$height;
    background-color: $bgc;
    color: $color;
    @content;
  };
@mixin background{
 background-repeat: no-repeat;
 background-size: 100% 100%;
 @content;
}